.blogsArea{
    text-align: start;

}

h1{
    margin: 3%;
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.blogsTape{
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-top: 10vh;
}

.firstAnimation, .secondAnimation, .thirdAnimation, .fourthAnimation{
    position: fixed;
    right: 130vw;
}

.blogsTape > .card{
    position: absolute;
}

.blogsTape div.firstAnimation{
    animation: cycle 30s linear infinite;
}

.blogsTape div.secondAnimation{
    animation: cycleTwo 30s linear infinite;
    animation-delay: 7s;
}

.blogsTape div.thirdAnimation{
    animation: cycleThree 30s linear infinite;
    animation-delay: 14s;
}

.blogsTape div.fourthAnimation{
    animation: cycleFour 30s linear infinite;
    animation-delay: 21s;
}

@keyframes cycle{
    0% {right : 130vw;}
    100%{ right: -30vw;}
}

@keyframes cycleTwo{
   0% {right: 130vw;}
   100% {right: -30vw;}
}

@keyframes cycleThree{
    0% {right: 130vw;}
    100% {right: -30vw;}
}

@keyframes cycleFour{
    0% {right: 130vw;}
    100% {right: -30vw;}
}

@media only screen and (max-width : 550px){
    h1{
        margin: 7%;
    }
}