.blogsArea{
    text-align: start;

}

h4{
    margin-bottom: 2vh;
}

.blogsTape{
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.firstAnimation, .secondAnimation, .thirdAnimation, .fourthAnimation{
    position: fixed;
}

.blogsTape > .card{
    position: absolute;
}

.blogsTape div.firstAnimation{
    animation: cycle 30s linear infinite;
}

.blogsTape div.secondAnimation{
    animation: cycleTwo 30s linear infinite;
}

.blogsTape div.thirdAnimation{
    animation: cycleThree 30s linear infinite;
}

.blogsTape div.fourthAnimation{
    animation: cycleFour 30s linear infinite;
}

@keyframes cycle{
    0% {right : 100vw;}
    100% {right: -30vw;}
}

@keyframes cycleTwo{
   0% {right: 70vw;}
   100% {right: -60vw;}
}

@keyframes cycleThree{
    0% {right: 40vw;}
    100% {right: -90vw;}
}

@keyframes cycleFour{
    0% {right: 10vw;}
    100% {right: -120vw;}
}