.navButton{
    margin-top: 8vh;
    margin-left: 2vw;
    border: none;
    background: inherit;
    color: white;
}

.navButton:hover , .navButton:focus{
    cursor: pointer;
    outline: none;
    border-bottom: solid 2px khaki;
}

@media (max-width : 1024px){
    .navButton{
        font-size: 1.2rem;
        font-weight: bolder;
        margin-left: 0.5vw;
        margin-top: 6vh;
    }
}
