ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background: rgb(207, 179, 179);
}

li{
  display: block;
  color: #000;
  padding: 1vh 4vw;
  text-decoration: none;
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(77, 59, 77, 0.1);
  border: rgb(94, 88, 88,0.5) solid 1px;
  font-size: 4vw;
}

li:hover , li:focus{
    color: chartreuse;
    cursor: pointer;
}

.unToggle{
  height: 5vh;
}

.sideBar{
  cursor: pointer;
}

.toggle{
  display: flex;
  justify-content: flex-start;
  padding-left: 5vw;
  background: rosybrown;
  height: 8vw;
  width: 100vw;
  font-weight: bolder;
}

#menu{
  top: 0;
  left: -100%;
  overflow: hidden;
  position: absolute;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  z-index: 11;
}
