.card{
    height: 40vh;
    width: 30vw;
    background: #80bdab;
    display: flex;
    margin-bottom: 2vh;
    margin-right: 2vw;
    color: white;
}

.title{
    font-weight: bold;
    font-size: large;
}

.card img{
    height: 100%;
    width: 50%;
}

.projInfo{
    display: flex;
    flex-direction: column;
}

.projInfo p{
    margin-left: 3vw;
    font-weight: bold;
}

.clickable{
    cursor: pointer;
}
