.card{
    height: 40vh;
    width: 30vw;
    background: slategray;
    display: flex;
    margin-bottom: 2vh;
}
.card img{
    height: 100%;
    width: 50%;
}

.projInfo{
    display: flex;
    flex-direction: column;
}