.layout{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.layout header{
    height: 12%;
}

.layout main{
    height: 78%;
}

.layout footer{
    height: 10%;
}