.layout{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.layout header{
    height: 20%;
}

.layout main{
    height: 78%;
}

.layout footer{
    height: 10%;
}

@media only screen and (min-width : 500px){
    .layout .sideBar{
        display: none;
    }
}

@media only screen and (max-width : 500px){
    .layout header{
        display: none;
    }
}

@media(max-width : 1024px) {
    .layout header{
        height: 15%;
    }
}